---
const spriteSheets = import.meta.glob('/src/assets/images/pixel-vpet/idlers/*.png', { eager: true });

const idlerImages = Object.values(spriteSheets).map((img) => img.default);
---
<style>
    .idler {
        width: 64px;
        height: 64px;
        background-repeat: no-repeat;
        animation: idle 1s steps(var(--frame-count)) infinite;
    }
</style>

<div class="idlers-container flex gap-16 justify-center items-center p-8">
  {idlerImages.map((img, index) => {
    const frameWidth = 64; // Assuming a fixed frame width for now
    const totalWidth = img.width; // Get full sprite sheet width
    const frameCount = totalWidth / frameWidth; // Calculate number of frames

    return (
      <div
        class="idler"
        style={`
          --frame-count: ${frameCount};
          width: ${frameWidth}px;
          height: ${img.height}px;
          background-size: ${totalWidth}px ${img.height}px;
          background-image: url('${img.src}');
        `}
        key={index}
      ></div>
    );
  })}
</div>

<style>
    @keyframes idle {
        0% { background-position-x: 0px; }
        100% { background-position-x: calc(-1 * var(--frame-count) * 64px); }
    }
</style>
