---
import { Heart } from "lucide-astro";

const { href, bgColor = "bg-primary-pixelvpet", hoverColor = "hover:bg-primary-dark-pixelvpet", textColor = "text-primary-darkest-pixelvpet", content = "Wishlist" } = Astro.props;
---

<style>
    @keyframes rumble {
        0% { transform: translateX(0); }
        25% { transform: translateX(-1px)   rotate(-1deg); }
        50% { transform: translateX(1px) rotate(1deg); }
        75% { transform: translateX(-1px) rotate(-1deg); }
        100% { transform: translateX(0); }
    }

    .rumble:hover {
        animation: rumble 0.1s ease-out;
    }
</style>

<a
    href={href}
    target="_blank"
    class={`w-auto cursor-pointer flex items-center px-4 py-2 ${bgColor} ${hoverColor} ${textColor} font-medium rounded-xl transition-transform rumble`}
>
    <Heart class="mr-2 h-4 w-4"/> {content}
</a>